ons-navigator(id=element.id).rum-navigated-application.rum-application.rum-element
  block body
//- ons-template(id="boogertemplate").rum-template.rum-element
//-   <!-- rumil/www/scripts/elements/page.pug-->
//-   ons-page(id="boogerpage").rum-page.rum-element
//-     <!-- rumil/www/scripts/elements/pages/test-page.pug-->
//-     ons-toolbar
//-       div.center
//-         | Tests
