extends ./stacked-page.pug
block back
  | Features
block center
  | Updates
block right
  ons-toolbar-button(id='goRefresh')
    | Refresh
    ons-icon( icon='fa-refresh',
              size='18px')
block contents
  != element.cacheElement

  div.rum-memo
    | Click the&nbsp;
    span(style='font-weight: bold')
      | Refresh
    ons-icon(icon='fa-refresh')
    | &nbsp;button above to update this information.
