extends ./stacked-page.pug
block back
  | Features
block center
  | Google
block contents
  ons-list(modifier='inset')
    ons-list-item(modifier='longdivider')
      div.left
        | Scopes
      div.right
        = element.token.scopesAsString
    ons-list-item(modifier='longdivider')
      div.left
        | Token
      div.right
        code
          = element.token.value
