extends ../../element.pug
block body
  ons-list(modifier='inset')
    ons-list-item(modifier='longdivider')
      div.left
        | Name
      div.right
        = status.name || '(unknown)'
    ons-list-item(modifier='longdivider')
      div.left
        | Version
      div.right
        = status.version || '(unknown)'
    ons-list-item(modifier='longdivider')
      div.left
        | Date
      div.right
        = status.nowAsDateString || '(unknown)'
    ons-list-item(modifier='longdivider')
      div.left
        | Time
      div.right
        = status.nowAsTimeString || '(unknown)'

  ons-list(modifier='inset')
    ons-list-header
      | HEAP
    ons-list-item(modifier='longdivider')
      div.left
        | Total
      div.right
        = status.heap ? status.heap.totalAsString : '(unknown)'
    ons-list-item(modifier='longdivider')
      div.left
        | Used
      div.right
        = status.heap ? status.heap.usedAsString : '(unknown)'

  ons-list(modifier='inset')
    ons-list-item(modifier='longdivider')
      if status.isRefreshRequired
        div.left
          ons-icon( icon='fa-ellipsis-h',
                    size='20px')
        div.center
          span.list__item__title
            | Checking
          span.list__item__subtitle
            | Checking for application updates ...
      else if status.isUpdateRequired
        div.left
          ons-icon( icon='fa-cloud-download',
                    size='20px')
        div.center
          span.list__item__title
            | Updates Available
          span.list__item__subtitle
            | Updates are available for your version of the application.
      else
        div.left
          ons-icon( icon='fa-cloud',
                    size='20px')
        div.center
          span.list__item__title
            | No Updates Available
          span.list__item__subtitle
            | Your version of the application is the latest version.  No updates are available.

  div.rum-memo
    | This information refreshes automatically every minute.  Click the&nbsp;
    span(style='font-weight: bold')
      | Refresh
    ons-icon(icon='fa-refresh')
    | &nbsp;button above to force a refresh.
