extends ../../element.pug
block body
  ons-list(modifier='inset')
    ons-list-item(modifier='longdivider')
      if Is.undefined(data.status.isUpdateRequired)
        div.left
          ons-icon( icon='fa-ellipsis-h',
                    size='20px')
        div.center
          span.list__item__title
            | Checking
          span.list__item__subtitle
            | Checking for application updates ...
      else if data.status.isUpdateRequired
        div.left
          ons-icon( icon='fa-cloud-download',
                    size='20px')
        div.center
          span.list__item__title
            | Updates Available
          span.list__item__subtitle
            | Updates are available for your version of the application.
      else
        div.left
          ons-icon( icon='fa-cloud',
                    size='20px')
        div.center
          span.list__item__title
            | No Updates Available
          span.list__item__subtitle
            | Your version of the application is the latest version.  No updates are available.

  ons-list(modifier='inset')
    //- ons-list-item(modifier='longdivider')
    //-   div.left
    //-     | Location
    //-   div.right
    //-     if data.status.serverUri
    //-         code
    //-           = data.status.storage.uri
    //-       else
    //-         | (local)
    //-     else
    //-       | (unknown)
    ons-list-item(modifier='longdivider')
      div.left
        | Server Version
      div.right
        = data.status.version || '(unknown)'
    ons-list-item(modifier='longdivider')
      div.left
        | Local Version
      div.right
        = application.version
    ons-list-item(modifier='longdivider')
      div.left
        | Server Date
      div.right
        = data.status.nowAsDateString || '(unknown)'
    ons-list-item(modifier='longdivider')
      div.left
        | Server Time
      div.right
        = data.status.nowAsTimeString || '(unknown)'

  ons-list(modifier='inset')
    ons-list-header
      | HEAP
    ons-list-item(modifier='longdivider')
      div.left
        | Total
      div.right
        = data.status.heap ? data.status.heap.totalAsString : '(unknown)'
    ons-list-item(modifier='longdivider')
      div.left
        | Used
      div.right
        = data.status.heap ? data.status.heap.usedAsString : '(unknown)'

  ons-list(modifier='inset')
    ons-list-header
      | STORAGE
    ons-list-item(modifier='longdivider')
      div.left
        | Location
      div.right
        if data.status.storage
          if data.status.storage.uri
            code
              = data.status.storage.uri
          else
            | (local)
        else
          | (unknown)
    ons-list-item(modifier='longdivider')
      div.left
        | Version
      div.right
        = data.status.storage ? data.status.storage.version : '(unknown)'
    ons-list-item(modifier='longdivider')
      div.left
        | Operating System
      div.right
        if data.status.storage
          code
            = data.status.storage.os
        else
          | (unknown)
