extends ../../element.pug
block body
  ons-list(modifier='inset')
    //- style='font-size: smaller;')
    //- ons-list-header
    //-   | STATISTICS
    ons-list-item(modifier='longdivider')
      div.left
        | Result
      if data.statistics.failures
        div.right.rum-failed
          ons-icon( icon='close',
                    size='20px')
          | Failed
      else if data.statistics.pending
        div.right.rum-pending
          ons-icon( icon='circle-o',
                    size='20px')
          | Pending
      else if data.statistics.passes
        div.right.rum-succeeded
          ons-icon( icon='check',
                    size='20px')
          | Succeeded
      else
        div.right
          ons-icon( icon='ellipsis-h',
                    size='20px')

  div.rum-memo
    span.rum-memo-bold
      | NOTE:&nbsp;&nbsp;
    | Refresh the page before re-running the tests.
