extends ./simple-alert-dialog.pug
block body
  div.alert-dialog-title
    = element.title
  div.alert-dialog-content
    != element.text
  div.alert-dialog-footer
    button(id='ok').alert-dialog-button
      | Ok
